In [2]:
import pandas as pd
import numpy as np

kospi_df = pd.read_csv('C:/Users/TECH2_25/TIL/시각화프로젝트/kospi.csv')
print(kospi_df)

         N         종목명       현재가      전일비     등락률     액면가         거래량  \
0      1.0        삼성전자   63600.0   1400.0  +2.25%   100.0  11937208.0
1      2.0    LG에너지솔루션  548000.0  21000.0  +3.98%   500.0    365173.0
2      3.0      SK하이닉스   92900.0   1200.0  +1.31%  5000.0   1618236.0
3      4.0    삼성바이오로직스  806000.0  12000.0  +1.51%  2500.0     41024.0
4      5.0        LG화학  717000.0  43000.0  +6.38%  5000.0    382670.0
..     ...         ...       ...      ...     ...     ...         ...
195  196.0  KBSTAR 200   32985.0    625.0  +1.93%     0.0     71991.0
196  197.0          DL   58000.0    900.0  +1.58%  5000.0     45151.0
197  198.0      동원시스템즈   41500.0    900.0  +2.22%  5000.0     19923.0
198  199.0     일진하이솔루스   32650.0    900.0  +2.83%   500.0     53847.0
199  200.0        율촌화학   47350.0    950.0  +2.05%   500.0    108785.0

           고가        저가    ROA
0     63700.0   62400.0   9.92
1    549000.0  531000.0   4.26
2     93400.0   91600.0  11.48
3    810000.0  795000.0   5.47
4    728000.0  675000.0   8.55
..        ...       ...    ...
195   33055.0   32455.0    NaN
196   58500.0   57100.0   7.87
197   41700.0   40450.0   3.50
198   33000.0   31900.0   4.22
199   47600.0   46050.0   1.32

[200 rows x 10 columns]

In [4]:
kospi_df.isna().sum()

# ROA에 결측치 27개 존재

N       0
종목명     0
현재가     0
전일비     0
등락률     0
액면가     0
거래량     0
고가      0
저가      0
ROA    27
dtype: int64

In [9]:
kospi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   N       200 non-null    float64
 1   종목명     200 non-null    object
 2   현재가     200 non-null    float64
 3   전일비     200 non-null    float64
 4   등락률     200 non-null    object
 5   액면가     200 non-null    float64
 6   거래량     200 non-null    float64
 7   고가      200 non-null    float64
 8   저가      200 non-null    float64
 9   ROA     173 non-null    float64
dtypes: float64(8), object(2)
memory usage: 15.8+ KB

In [10]:
kospi_df['ROA']

0       9.92
1       4.26
2      11.48
3       5.47
4       8.55
       ...
195      NaN
196     7.87
197     3.50
198     4.22
199     1.32
Name: ROA, Length: 200, dtype: float64

In [11]:
kospi_df.columns

Index(['N', '종목명', '현재가', '전일비', '등락률', '액면가', '거래량', '고가', '저가', 'ROA'], dtype='object')

In [16]:
kospi_df.drop(['ROA', '등락률', 'N'], axis = 1, inplace=True)

In [17]:
kospi_df

            종목명       현재가      전일비     액면가         거래량        고가        저가
0          삼성전자   63600.0   1400.0   100.0  11937208.0   63700.0   62400.0
1      LG에너지솔루션  548000.0  21000.0   500.0    365173.0  549000.0  531000.0
2        SK하이닉스   92900.0   1200.0  5000.0   1618236.0   93400.0   91600.0
3      삼성바이오로직스  806000.0  12000.0  2500.0     41024.0  810000.0  795000.0
4          LG화학  717000.0  43000.0  5000.0    382670.0  728000.0  675000.0
..          ...       ...      ...     ...         ...       ...       ...
195  KBSTAR 200   32985.0    625.0     0.0     71991.0   33055.0   32455.0
196          DL   58000.0    900.0  5000.0     45151.0   58500.0   57100.0
197      동원시스템즈   41500.0    900.0  5000.0     19923.0   41700.0   40450.0
198     일진하이솔루스   32650.0    900.0   500.0     53847.0   33000.0   31900.0
199        율촌화학   47350.0    950.0   500.0    108785.0   47600.0   46050.0

[200 rows x 7 columns]

In [21]:
kospi_df.isna().sum()

종목명    0
현재가    0
전일비    0
액면가    0
거래량    0
고가     0
저가     0
dtype: int64

In [22]:
kospi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목명     200 non-null    object
 1   현재가     200 non-null    float64
 2   전일비     200 non-null    float64
 3   액면가     200 non-null    float64
 4   거래량     200 non-null    float64
 5   고가      200 non-null    float64
 6   저가      200 non-null    float64
dtypes: float64(6), object(1)
memory usage: 11.1+ KB

In [25]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [ ]:
encoder =