In [2]:
import pandas as pd
import numpy as np

In [3]:
chipo_df = pd.read_csv('./chipotle.tsv', sep='\t')

In [4]:
chipo_df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [5]:
## q1. 데이터의 정보를 확인해주세요

In [9]:
chipo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [7]:
## q2. quantity의 값이 3이상인 데이터들을 호출하고
## 전체 수가 얼마인지 출력해주세요.

In [8]:
cond = chipo_df.quantity>=3
chipo_df[cond].shape[0]

43

In [11]:
len(chipo_df[chipo_df.quantity>=3])

43

In [12]:
## q3. item_price의 컬럼의 달러표시 문자를 없애고, float64bit 타입으로
## 저장하여 new_price를 컬럼으로 하여 넣어주세요.

In [13]:
chipo_df['new_price'] = chipo_df.item_price.str[1:].astype('float64')
chipo_df

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

In [ ]:
## q4. new_price의 컬럼값이 5이하인 데이터프레임을 추출하고 그 수를 구해주세요.

In [ ]:
chipo_df[chipo_df.new_price<=5].shape[0]

In [ ]:
## q5. new_price의 컬럼값이 9이하이고 item_name값이 Chicken Salad Bowl인 데이터
## 프레임을 추출해주세요.

In [ ]:
answer = chipo_df[(chipo_df.new_price <=9)&(chipo_df.item_name=='Chicken Salad Bowl')].reset_index()
print(answer)

In [ ]:
## q6. 데이터 프레임 new_price의 컬럼 값에 따라 오름차순으로 정리하고 index를 초기화하라

In [ ]:
answer_q6 = chipo_df.sort_values(by='new_price').reset_index()
print(answer_q6)

In [ ]:
## q7. 데이터 프레임의 item_name컬럼 값 중에서 Steak가 포함된 경우의 데이터의 수를 구해주세요.

In [ ]:
chipo_df[chipo_df.item_name.str.contains('Steak')].item_name.value_counts()

In [ ]:
## q8. 데이터 프레임 new_price 컬럼값에 따라 내림차순으로 정리하고 index를 초기화해주세요.

In [ ]:
answerq8 = chipo_df.sort_values(by='new_price', ascending=False)

In [ ]:
## q9. 데이터 프레임 new_price 값이 new_price값의 평균값 이상을 가지는 데이터들을 인덱싱해주세요.

In [ ]:
chipo_df[chipo_df.new_price>=chipo_df.new_price.mean()]

In [ ]:
## q10. 데이터 프레임 item_name에서 '6 Pack Soft Drink'의 값을 'pepsi'로 변형해주세요. - 난이도 상

In [ ]:
# 1 - lambda를 활용한 식
# chipo_df['item_name'] = chipo_df.item_name.apply(lambda x : 'pepsi' if x == '6 Pack Soft Drink' else x)

In [ ]:
# 2 - loc를 활용 loc [row:: 조건식... , col]
chipo_df.loc[chipo_df.item_name=='6 Pack Soft Drink','item_name'] = 'pepsi'

In [ ]:
## q11. 전체 결측값(Missing Value)에 대한 갯수를 구하고, 그 값을 'N'으로 대체해주세요.

In [ ]:
chipo_df['choice_description'] = chipo_df.choice_description.fillna('N')
chipo_df

In [ ]:
## q12. 데이터 프레임에서 choice_description 컬럼 값에서 Black이 들어가지 않는 경우를 인덱싱 해주세요.

In [ ]:
chipo_df[~(chipo_df.choice_description.str.contains('Black'))]

In [ ]:
## q13. 데이터 프레임에서 item_name 값의 단어의 수가 15개 이상인 데이터를 인덱싱 해주세요.

In [ ]:
# 1. lambda를 사용한다.

In [ ]:
chipo_df[chipo_df.item_name.apply(lambda x: len(x)>=15)]

In [ ]:
# 2. condition indexing

In [ ]:
chipo_df[chipo_df.item_name.str.len()>=15]

In [ ]:
# end of file