In [ ]:
import pandas as pd
import numpy as np

In [ ]:
chipo_df = pd.read_csv('./chipotle.tsv', sep='\t')

In [ ]:
chipo_df.columns

In [ ]:
## q1. 데이터의 정보를 확인해주세요

In [ ]:
chipo_df.info()

In [ ]:
## q2. quantity의 값이 3이상인 데이터들을 호출하고
## 전체 수가 얼마인지 출력해주세요.

In [ ]:
chipo_df.loc[chipo_df['quantity']>=3].count()

In [ ]:
# solve 
cond = chipo_df.quantity>=3
chipo_df[cond].shape[0]

In [ ]:
## q3. item_price의 컬럼의 달러표시 문자를 없애고, float64bit 타입으로
## 저장하여 new_price를 컬럼으로 하여 넣어주세요.

In [ ]:
# 컬럼명 바꾸기
chipo_df['item_price'] = chipo_df['item_price'].apply(lambda x: x.split('$')[-1])
chipo_df.rename(columns={'item_price':'new_price'}, inplace=True)

In [ ]:
# solve
chipo_df['new_price'] = chipo_df.item_price.str[1:].astype('float64')
chipo_df

In [ ]:
## q4. new_price의 컬럼값이 5이하인 데이터프레임을 추출하고 그 수를 구해주세요.

In [ ]:
chipo_df

In [ ]:
# solve
chipo_df[chipo_df.new_price<=5].shape[0]

In [ ]:
## q5. new_price의 컬럼값이 9이하이고 item_name값이 Chicken Salad Bowl인 데이터
## 프레임을 추출해주세요.

In [ ]:
# solve

chipo_df[(chipo_df.new_price <=9) & (chipo_df.item_name=='Chicken Salad Bowl')].reset_index()

In [ ]:
## q6. 데이터 프레임 new_price의 컬럼 값에 따라 오름차순으로 정리하고 index를 초기화하라

In [ ]:
# solve

answer_q6 = chipo_df.sort_values(by = 'new_price').reset_index()
print(answer_q6)

In [ ]:
## q7. 데이터 프레임의 item_name컬럼 값 중에서 Steak가 포함된 경우의 데이터의 수를 구해주세요.

In [ ]:
# solve

chipo_df[chipo_df.item_name.str.contains('Steak')]

In [ ]:
## q8. 데이터 프레임 new_price 컬럼값에 따라 내림차순으로 정리하고 index를 초기화해주세요.

In [ ]:
# solve

chipo_df.sort_values(by = 'new_price', ascending = False)

In [ ]:
## q9. 데이터 프레임 new_price 값이 new_price값의 평균값 이상을 가지는 데이터들을 인덱싱해주세요.

In [ ]:
# solve

chipo_df[chipo_df.new_price>=chipo_df.new_price.mean()]

In [ ]:
## q10. 데이터 프레임 item_name에서 '6 Pack Soft Drink'의 값을 'pepsi'로 변형해주세요.

In [ ]:
# solve 1 lambda 활용
chipo_df['item_name'] = chipo_df.item_name.apply(lambda x: 'pepsi' if x == '6 Pack Soft Drink' else x)
chipo_df.item_name.value_counts()

In [ ]:
# solve 2 loc 활용 loc[row :: 조건식 , col]
chipo_df.loc[chipo_df.item_name =='6 Pack Soft Dring','item_name'] = 'pepsi'
chipo_df.item_name.value_counts()

In [ ]:
## q11. 전체 결측값(Missing Value)에 대한 갯수를 구하고, 그 값을 'N'으로 대체해주세요.

In [ ]:
chipo_df.isna()

In [ ]:
# solve 

chipo_df['choice_description'] = chipo_df.choice_description.fillna('N')
chipo_df

In [ ]:
## q12. 데이터 프레임에서 choice_description 컬럼 값에서 Black이 들어가지 않는 경우를 인덱싱 해주세요.

In [ ]:
# solve

chipo_df[~(chipo_df.choice_description.str.contains('Black'))]

In [ ]:
## q13. 데이터 프레임에서 item_name 값의 단어의 수가 15개 이상인 데이터를 인덱싱 해주세요.

In [ ]:
# solve 1 lambda사용

chipo_df[chipo_df.item_name.apply(lambda x: len(x)>=15)]

In [ ]:
# solve 2 condition indexing

chipo_df[chipo_df.item_name.str.len()>=15]

In [ ]:
# end of file