In [5]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
plt.style.use("fivethirtyeight")
%matplotlib inline

# For reading stock data from yahoo
from pandas_datareader.data import DataReader
import yfinance as yf
from pandas_datareader import data as pdr

yf.pdr_override()

# For time stamps
from datetime import datetime


# The tech stocks we'll use for this analysis
tech_list = ['AAPL', 'GOOG', 'MSFT', 'AMZN']

# Set up End and Start times for data grab
tech_list = ['AAPL', 'GOOG', 'MSFT', 'AMZN']

end = datetime.now()
start = datetime(end.year - 1, end.month, end.day)

for stock in tech_list:
    globals()[stock] = yf.download(stock, start, end)
    

company_list = [AAPL, GOOG, MSFT, AMZN]
company_name = ["APPLE", "GOOGLE", "MICROSOFT", "AMAZON"]

for company, com_name in zip(company_list, company_name):
    company["company_name"] = com_name
    
df = pd.concat(company_list, axis=0)
df.tail(10)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,company_name
Date,,,,,,,
2023-02-03,105.260002,108.779999,102.519997,103.389999,103.389999,144173400,AMAZON
2023-02-06,102.930000,103.949997,100.650002,102.180000,102.180000,81945200,AMAZON
2023-02-07,101.169998,102.410004,98.080002,102.110001,102.110001,119501300,AMAZON
2023-02-08,102.040001,102.669998,98.779999,100.050003,100.050003,75878300,AMAZON
2023-02-09,101.320000,101.779999,97.570000,98.239998,98.239998,64622500,AMAZON
2023-02-10,97.559998,98.820000,96.230003,97.610001,97.610001,52698600,AMAZON
2023-02-13,97.849998,99.680000,96.910004,99.540001,99.540001,52841500,AMAZON
2023-02-14,98.410004,100.919998,97.519997,99.699997,99.699997,56202900,AMAZON
2023-02-15,99.089996,101.169998,98.449997,101.160004,101.160004,48053900,AMAZON
2023-02-16,99.209999,100.629997,98.099998,98.150002,98.150002,56204700,AMAZON